node_modules
.env
.env.*
!.env.example
.venv
__pycache__/
*.py[cod]
db.sqlite3
staticfiles/

coverage
dist
build
.build
.react-router
.nuxt
.output

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea
.vscode
.DS_Store
Thumbs.db
