includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database/factories
        - database/seeders
        - routes
    excludePaths:
        - bootstrap/cache/*
    level: 5
    tmpDir: storage/framework/cache/phpstan
